<h1>H&eacute;roe <small>{{heroe.nombre}}</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" 
            [routerLink]="['/heroes']" >
      <i class="fa fa-arrow-left"></i>
      Back
    </button>
  </div>
</div>

<div class="row animated fadeIn fasrer" >
  <div class="col" >
    <form (ngSubmit)="guardar(f)" #f="ngForm" >

      <div class="form-group">
        <label for="id">Firebase ID</label>
        <input type="text" 
               class="form-control"
               disabled="disabled"
               placeholder="Firebase Id" 
               name="id"
               [(ngModel)]="heroe.id"
               id="id" aria-describedby="idHelp">
        <small id="idHelp" class="form-text text-muted">Firebase ID autogenerado.</small>
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" 
               class="form-control"
               placeholder="Nombre del h&eacute;roe" 
               name="nombre"
               [(ngModel)]="heroe.nombre"
               required="required"
               id="nombre" aria-describedby="nombreHelp">
        <small id="nombreHelp" class="form-text text-muted">Nombre del heroe.</small>
      </div>

      <div class="form-group">
        <label for="poder">Poder</label>
        <input type="text" 
               class="form-control"
               placeholder="Poder del h&eacute;roe" 
               name="poder"
               [(ngModel)]="heroe.poder"
               id="poder" aria-describedby="poderHelp">
        <small id="poderHelp" class="form-text text-muted">Poder del heroe.</small>
      </div>

      <div class="form-group">
        <div>
          <label>Estado</label>
        </div>
        <div>
          <button *ngIf="heroe.vivo" (click)="heroe.vivo = !heroe.vivo" class="btn btn-outline-success w-50" type="button">
            <i class="fa fa-smile-wink"></i>
            Vivo
          </button>
          <button  *ngIf="!heroe.vivo" (click)="heroe.vivo = !heroe.vivo" class="btn btn-outline-danger w-50" type="button">
            <i class="fa fa-dizzy"></i>
            Muerto
          </button>
          
          <small id="poderHelp" class="form-text text-muted">Heroe vivo o muerto.</small>
        </div>
      </div>
        
      <hr>

      <div class="form-group text-center">
        <button class="btn btn-primary w-25" type="submit" >
          <!-- [disabled]="!form.form.valid"> -->
          <i class="fa fa-save"></i>
          Save
        </button>
      </div>

    </form>
  </div>
</div>